# Django
DEBUG=True
SECRET_KEY=very-secret-key
PROJECT_NAME=iDeal-Backend
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
SENTRY_DSN=your-sentry-dsn-here

# Database
POSTGRES_DB=db_name
POSTGRES_USER=postgres
POSTGRES_PASSWORD=very-secret-password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Redis
REDIS_URL=redis://localhost:6379

# Logging
LOGGING_TELEGRAM_BOT_TOKEN=bot-token
LOGGING_TELEGRAM_CHAT_ID=chat-id

# Docker
DB_PORT=5400
APP_PORT=8005
COMPOSE_PROJECT_NAME=ideal-backend
